
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}


body, #app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  body {
      background-image: url('https://source.unsplash.com/random');
      background-repeat: no-repeat;
      background-size: cover;
  }

  #app {
    width: 50%;
    text-align: center;
    position: relative;
    top: -50px;
  }
  
  h1.quote {
      color: #fff;
      font-size: 5em;
  }
  h2.author {
    color: #aeaeae;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-image: url(../img/overlay.png);
    background-size: 100% 100%;
    opacity: 1;
}

  footer {
    opacity: 0.5;
    padding-top: 0.5rem;
    position: absolute;
    bottom: 15px;
    text-align: right;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #aeaeae;
    line-height: 16px;
    z-index: 3;
    transition: all ease-in-out .5s;
  }
  
  footer:hover {
    opacity: 1;
    transform: scale(1.5);
    color: white;
  }
  
  footer a {
    color: #969696;
    font-weight: bold;
  }